name: tests

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  linux-unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsLinux.yml@main
    with:
      skipTsDepCheck: true
  windows-unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsWindows.yml@main
  nuts:
    needs: [linux-unit-tests, windows-unit-tests]
    uses: salesforcecli/github-workflows/.github/workflows/nut.yml@main
    secrets:
      TESTKIT_AUTH_URL: ${{ secrets.TESTKIT_AUTH_URL }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    with:
      os: ${{ matrix.os }}
